.header-container {
    // position: relative;
}

.cover-photo-wrapper {
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-pic-wrapper {
    // position: absolute;
    height: 12rem;
    width: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}